/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #09090b;
}

/* Animation delays for typing indicator */
.delay-100 {
  animation-delay: 0.2s;
}

.delay-200 {
  animation-delay: 0.4s;
}